*{
    font-family: sans-serif;
    box-sizing: border-box;
  }
  body{
    background-color:#6666ff;
    height: 100%;
  
  }
  h1{
    text-align: center;
    margin-top: 20;
    color: white;
  }
  .image{
    width: 100%;
    background-color: #e1eaea;
  }
  #sprite{
    width: 50%;
    display: block;
    margin: 0 auto;
    
  }
  .window{
    width: 30%;
    min-width: 350px;
    max-width: 400px;
    background-color: white;
    padding: 1.1em;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 10px 10px lightblue;
  }
  
  p{
    text-align: center;
  }
  
  #search-input{
    height: 30px;
    margin-left: 30px;
  }
  #search-input:focus{
    height: 30px;
    border: 3px solid blue;
  
  }
  #search-button{
    height: 30px;
    font-size: 1rem;
    background: linear-gradient(#000080,#6666ff);
    color: white;
    border-radius: 5px;
    
  }
  
  #search-button:hover{
    cursor: pointer;
  }
  #pokemon-name,#pokemon-id{
    display: inline-block;
    
  }
  
  .container{
    display: flex;
    justify-content: space-evenly;
  }
  #pokemon-id{
    margin-left: 5px;
  }
  table{
    margin: 0 auto;
  }
  th,tr{
    background-color: #751aff;
    color: white;
    text-align: center;
    width: 40%;
    height: 25px;
  }
  
  span{
    background-color: lightblue;
    padding: 2px;
    border-radius: 5px;
  }
  
  #types{
    margin: 5 0;
  }